#player-answer-zone {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#player-answer-zone .btn-secondary {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(57, 255, 20, 0.4);
    color: white;
    padding: 15px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

#player-answer-zone .btn-secondary:active {
    background: #39FF14;
    color: black;
    transform: scale(0.98);
}

#answer-input {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    color: white;
    border-radius: 12px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.1rem;
}